@import "./../_theme.scss";

.Main {
    display: flex;
    background-color:  theme-get("colorBackgroundContent");
  
    height: 100%;
  
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}